* {
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 35px;
}

.btn {
  border-radius: 0;
}

.btn-success {
  background: rgba(42, 157, 143, 1);
}

.hero-content {
  background: rgba(42, 157, 143, 0.1);
  padding: 15px 15px 0;
}

#about-us,
#we-need-you,
#growing-part,
#articles {
  padding-top: 100px;
}

#subscribe-newsletter,
footer {
  padding-top: 170px;
}

footer {
  padding-bottom: 100px;
}
