* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
  }

#hero {
    padding-bottom: 20px;
}

#tentang-kami {
    padding-bottom: 100px;
}

.hero-content {
    background-color: #2A9D8F1A;
}

.headings {
    font-weight:500; 
    font-size: 32px;
}

.hero-content h1 {
    width: 302px;
    line-height: 44.8px;
    padding-top: 10px;
    margin-left: 20px;
}

.hero-content p {
    width: 297px;
    line-height: 27px;
    font-size: 18px;
    margin-left: 20px;
}

.btn-green {
    color: white;
    background-color: #2A9D8F;
    box-shadow: 0px 15px 30px 0px #78CA934D;
    width: 227.83px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 0;
}

.btn-trans {
    background-color: transparent;
    margin-top: 20px;
    margin-left: 20px;
    border: 2.5px solid #2A9D8F;
    border-radius: 0;
}

.content {
    padding-bottom: 50px;
}