* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* general */

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* .container {
  padding: 0 2.1875rem;
} */

.navbar {
  box-shadow: 0 12px 12px 5px rgb(180, 180, 180, 0.1);
}

.btn {
  border-radius: 0;
}

.btn-success {
  background: rgba(42, 157, 143, 1);
  padding: 0.5rem 1.75rem;
  line-height: 1.5rem;
}

.btn-outline-success {
  color: rgba(81, 81, 81, 1);
  border: 2.5px solid rgba(42, 157, 143, 1);
  padding: 0.5rem 1rem;
}

.mb-20 {
  margin-bottom: 1.25rem !important;
}

#about-us,
#planted-trees,
#we-need-you,
#growing-part,
#articles {
  padding-top: 100px;
}

.section-title {
  font-weight: 500;
  font-size: 1.625rem;
  margin-bottom: 0.625rem;
}

.title-small {
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: rgba(42, 157, 143, 1);
}

.title-lg {
  font-size: 2rem;
}

.section-content {
  font-weight: 400;
  font-size: 1.125rem;
  margin-bottom: 2.1875rem;
  text-align: justify;
  color: rgba(101, 101, 101, 1);
}

.content-small {
  font-size: 1rem;
  width: 80%;
}

/* header */

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.offcanvas {
  width: 60% !important;
}

/* section hero */

#hero {
  padding-top: 2.5rem;
}

.hero-content {
  background: rgba(42, 157, 143, 0.1);
  padding: 1.25rem 1.25rem 0;
}

.typography {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 34px;
  color: rgba(166, 166, 166, 1);
}

/* section  growing part */

.bg-carousel {
  background: rgba(42, 157, 143, 0.15);
  padding-top: 72px;
  padding-bottom: 150px;
}

.carousel-control-next,
.carousel-control-prev {
  display: inline-block;
  position: static;
  opacity: 1;
  padding: 12px 9px;
  width: 15%;
}

.carousel-control-next {
  background: rgba(42, 157, 143, 1);
}

.carousel-bg-button {
  background-color: white;
  display: inline;
  padding: 1.5em 0.5em;
}

.card-carousel {
  width: 26.5625em;
  padding: 2.5em;
  border: none;
}

.card-text {
  color: rgba(130, 130, 130, 1);
  text-align: justify;
}

.card-link {
  color: rgba(42, 157, 143, 1);
  font-size: 0.875rem;
}

/* section articles */

.image-content {
  width: 100%;
  margin-bottom: 1.875rem;
}

.article-content {
  margin-bottom: 1.25rem;
}

.article-content-end {
  margin-bottom: 3.125rem;
}

.article-image {
  margin-right: 1.25rem;
}

.article-title {
  font-weight: 500;
  font-size: 1.125rem;
  color: rgba(77, 77, 77, 1);
  line-height: 1.65rem;
}

/* section subscribe newsletter */

#subscribe-newsletter {
  padding-top: 170px;
}

.input-group-custome {
  padding: 10px 12px;
  border: 2px solid rgba(42, 157, 143, 1);
}

.form-control:focus {
  box-shadow: 0 0 0;
}

.btn-small {
  font-size: 0.75rem;
  padding: 10px 13px;
}

.form-small {
  font-size: 0.875rem;
}

::placeholder {
  color: rgba(175, 175, 174, 1) !important;
}

/* footer */

footer {
  background: rgba(42, 157, 143, 1);
  margin-top: 170px;
  padding: 35px 0 30px;
  color: #fff;
}

.footer-dropdown {
  margin-bottom: 0.75em;
}

.footer-icon {
  padding-bottom: 55px;
}

.footer-info {
  padding-top: 80px;
}

/* .dropdown-menu.show {
  position: static !important;
  transform: none !important;
  width: 100%;
  background: rgba(42, 157, 143, 1);
  border: 2px solid #fff;
}

.white-space {
  white-space: unset;
}

.dropdown-item,
.footer-item a {
  color: #fff;
  font-size: 1.125rem;
}

.dropdown-item:hover {
  background: #2a8a7f;
  color: #fff;
} */

.text-dark-green {
  border: none;
  background: rgba(42, 157, 143, 1);
  color: #fff;
  padding-left: 0;
  font-size: 1.25rem;
}
